{%- macro student(info=[]) -%}
<figure class="mx-auto w-full max-w-[18.75rem] relative lg:max-w-none">
  <div class="w-full relative">
    <div class="ring-(2 inset sec-500/50) hidden absolute inset-0 transform translate-x-3 translate-y-3 rotate-2 rounded-3xl lg:(block)" aria-hidden="true"></div>
    <div class="ring-(2 inset sec-500/80) hidden absolute inset-0 transform -translate-x-2 -translate-y-2 -rotate-1 rounded-3xl lg:(block)" aria-hidden="true"></div>
    <img :src="'{{ '/' | url }}_assets/img/people/'+ (eraTabActive === 0 ? '2000/' : (eraTabActive === 2) ? '1980/' : '') +'{{ info.data.last | slugify }}-{{ info.data.first | slugify }}.jpg'" alt="{{ info.data.first }} {{ info.data.last }} photo" class="w-full h-full max-h-[24rem] object-(center cover) relative rounded-xl md:(rounded-3xl)" />
  </div>
  <figcaption class="pt-4 md:pl-4">
    <strong class="font-black block truncate md:text-lg">{{ info.data.first }} {{ info.data.last }}</strong>
    <small class="text-sm truncate block opacity-60">{{ info.data.meta }}</small>
    <a href="https://github.com/craigerskine/preble1992.com/tree/main/_site/_assets/img/people" class="p-3 bg-sec-700 text-(sm white center) absolute inset-x-4 -top-4 rounded-lg shadow-xl transform -rotate-3" x-show="eraTabActive !== 1" x-text="eraTabActive === 0 ? 'Send us your photos...' : 'Photo coming soon... Adam?'"></a>
  </figcaption>
</figure>
{%- endmacro -%}
