{% macro btn(as='a', url='#', slot, class='', outline='', prevent='') %}
<{{ as }}
  {% if as === 'button' %}
    type="button"
  {% else %}
    href="{{ url }}"
  {% endif %}
  {% if prevent !== '' %} @click.prevent {% endif %}
    class="{{ class }} 
      {% if prevent !== '' %}
        opacity-30 
      {% endif %} 
      {% if outline !== '' %}
        text-pri-600 ring(1 inset current) hover:(text-pri-900) 
      {% else %}
        bg-pri-600 text-white hover:(bg-pri-900) 
      {% endif %}
      py-3 px-4 text-base inline-flex justify-center rounded-xl motion-safe:(transition) 
    ">
  {{ slot }}
</{{ as }}>
{% endmacro %}