{% macro div(dir='t') %}
<svg xmlns="http://www.w3.org/2000/svg" class="w-full h-[70px]" aria-hidden="true">
  <rect class="text-white" fill="url(#div-{{ dir }})" x="0" y="0" width="100%" height="100%" />
</svg>
{% endmacro %}