{% macro x(label='label', value='value') %}
<div>
  <dt class="text(sm sec-400) tracking-wide uppercase">{{ label }}</dt>
  <dd class="text(lg pri-400) font-bold tracking-tight lg:(text-2xl)">{{ value }}</dd>
</div>
{% endmacro %}