<!doctype html>
<html lang="en" class="bg(pri-900 gradient-to-r) from-pri-900 to-pri-700 text-pri-800 md:(text-lg)" hidden>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% if title %}{{ title +' / '+ meta.title }}{% else %}{{ meta.title or meta.title }}{% endif %}</title>
    <meta name="description" content="{{ meta.description }}" />
    <meta name="author" content="{{ meta.author + ' - '+ meta.author_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700;900&display=swap" />
  </head>
  <body class="font-serif">

    <div class="min-h-screen flex(& col)">
      <header>
        <div class="container mx-auto px-4"></div>
      </header>
      <main>
        <section class="lg:(min-h-screen flex)">
          <header class="pt-6 bg(cover center norepeat) relative lg:(pt-16 w-1/2 flex(& col))" style="background-image: url('/_assets/img/bg-hex.png')">
            <a href="/" class="mx-auto w-1/2 max-w-sm self-center flex justify-center">
              <figure class="w-full flex">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 200" role="img" class="m-auto w-full h-auto text-sec-300 stroke-current">
                  <title>Preble High Class of 1992</title>
                  <g fill="none">
                    <g class="opacity-50" stroke-linecap="round" stroke-linejoin="round" stroke-width="20" transform="translate(230 49)">
                      <path d="m80 21.7377049 25-21.7377049 25 21.7377049v29.2622951h-50v29.2622951l25 21.7377049 25-21.7377049" />
                      <path d="m50 51h-50v-29.2622951l25-21.7377049 25 21.7377049v58.5245902l-25 21.7377049-25-21.7377049" />
                    </g>
                    <g transform="translate(15 12)">
                      <path d="m90 161-5 16-5-16z" class="fill-current" />
                      <g stroke-linecap="round" stroke-linejoin="round" stroke-width="10">
                        <path d="m66 125v24l19 13 19-13v-24l6-5v-24l-25 16-25-16v25l25 16 25-16" />
                        <path d="m85 41 85 63v28l-17-13-8 7-60-59v-26l-85 63v28l18-13 8 7 59-59" />
                        <path d="m57 59 3-28 25-24 25 24 3 28" />
                      </g>
                      <path d="m107 0-6.580645 16-5.419355-3.6z" class="fill-current" />
                      <path d="m63 0 6.5806452 16 5.4193548-3.6z" class="fill-current" />
                    </g>
                  </g>
                </svg>
                <figcaption class="sr-only">{{ meta.title }}</figcaption>
              </figure>
              </a>
            <div class="mx-auto py-12 px-4 max-w-3xl text-center relative">
              <h1 class="bg(clip-text gradient-to-r) from-pri-100 to-sec-200 font-black text(5xl transparent) lg:(leading-none text-[calc(2.5vw+2.5vh+.5vmin)])">
                Preble High
                <i class="py-4 font-normal text(3xl pri-300) block lg:(text-[calc(1.33vw+1.33vh+.5vmin)])">Class of 1992</i>
              </h1>
              <p class="py-8 text-pri-500 flex items-center">
                <b class="h-1 bg-current flex-1 opacity-30" aria-hidden="true"></b>
                <strong class="mx-3 font-normal text-2xl uppercase tracking-widest lg:(text-3xl)">30<sup class="text-base normal-case">th</sup> reunion</strong>
                <b class="h-1 bg-current flex-1 opacity-30" aria-hidden="true"></b>
              </p>
            </div>
          </header>
          <article class="bg-sec-50 lg:(w-1/2 flex) shadow-2xl">
            <div class="m-auto py-12 px-4 w-full max-w-xl">
              {{ content | safe }}
            </div>
          </article>
        </section>
        
      </main>
      <footer class="text-pri-600 lg:(w-1/2 fixed bottom-0 left-0)">
        <div class="p-4 text(xs center) tracking-wider uppercase">
          Designed and maintained with
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" role="img" class="-mt-1 mx-1 fill-current text-red-400 inline-block">
            <title>Love</title>
            <polygon points="8 3 11 0 12 0 16 4 16 5 9 12 7 12 0 5 0 4 4 0 5 0" transform="translate(0,2)"></polygon>
          </svg>
          by
          <a href="https://{{ meta.author_url }}/" class="group mx-1 text-sec-600 inline-flex flex-col motion-safe:(transition) hover:(text-sec-100)">
            {{ meta.author }}
            <b class="h-px w-full flex"><b class="w-0 bg-current motion-safe:(transition-all) group-hover:(w-full)"></b></b>
          </a>
          <small class="block">Logo &copy;<script>document.write(new Date().getFullYear())</script> Craig Erskine</small>
        </div>
      </footer>
    </div>

    <script src="/_assets/js/twind.js"></script>
    <script src="https://kit.fontawesome.com/a2bf4ed495.js"></script>
    <script>
      twind.setup({
        mode: "silent",
        theme: {
          extend: {
            colors: {
              pri: twindColors.green,
              sec: twindColors.yellow,
            },
            fontFamily: (theme) => ({
              serif: 'Roboto Slab,'+ theme('fontFamily.serif'),
            }),
          },
        },
        plugins: {
          ...twindTypography(),
          'scroll-smooth': { 'scroll-behavior': 'smooth' },
        },
      })
      twind.tw(() => ({
        '@global': {
          '.prose h1,.prose h2,.prose h3': { '@apply': 'font-black' },
          '.prose h4,.prose h5,.prose h6': { '@apply': 'font-bold' },
          '.prose blockquote': { '@apply': 'border-l-4 font-semibold italic' },
          '.prose ul': { '@apply': 'ml-4 list-disc' },
          '.prose ol': { '@apply': 'ml-4 list-decimal' },
          '.prose ul > li,.prose ol > li': { 'padding-left': '.25rem !important' },
          '.prose ul > li::marker,.prose ol > li::marker': { '@apply': 'text-pri-900 text-opacity-50' },
          '.prose table': { '@apply': 'w-full' },
          '.prose table th': { '@apply': 'text-left' },
          '.prose code': { '@apply': 'font-bold' },
          '.prose pre': { '@apply': 'bg-gray-800 text-gray-100 overflow-x-auto' },
          //':root [v-cloak]': { '@apply': 'hidden', },
        }
      }))
      twindObserve.observe(document.documentElement);
      document.documentElement.removeAttribute('hidden');
    </script>

  </body>
</html>