<!doctype html>
<html lang="en" class="bg-gray-900" x-data="{}" hidden x-cloak>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% if title %}{{ title +' / '+ site.meta.title }}{% else %}{{ site.meta.title or site.meta.title }}{% endif %}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author + ' - '+ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" />

    <meta property="og:title" content="{{ site.meta.title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://preble1992.com{{ page.url }}" />
    <meta property="og:image" content="https://preble1992.com/_assets/img/og.png" />

    {% import 'components/logo.njk' as logo %}
    {% import 'components/btn.njk' as btn %}

  </head>

  <body class="bg-pri-200 text-gray-700 font-serif">

    <div class="w-1/2 h-screen bg(left contain no-repeat) fixed top-0 left-0 opacity-40 filter blur-md transform -translate-x-1/3" aria-hidden="true" style="background-image: url('/_assets/img/bg-hornet.png')"></div>

    <div class="min-h-screen flex(& col) relative">
      <header class="py-6 px-4 w-full flex-none relative lg:(py-10)">
        <div class="mx-auto max-w-7xl flex(& wrap) items-center justify-between lg:(flex-nowrap)">
          <a href="/" class="group block transform motion-safe:(transition) hover:(-rotate-3) lg:(grow basis-0)">
            {{ logo.logo(
              'm-auto w-auto h-10 text-sec-500 motion-safe:(transition) group-hover:(text-sec-400) lg:(h-16)',
              'text-pri-400 motion-safe:(transition) group-hover:(text-pri-600)',
              ''
            ) }}
          </a>
          <div class="mb-6 pb-6 border(b pri-500 opacity-50) w-full text(pri-700 xs) order-first lg:(mb-0 pb-0 border-0 w-auto text-base order-none)">
            {% for info in site.reunion.slice(0, 1) %}
              <div class="mx-auto flex items-center justify-center space-x-4">
                <p><time datetime="{{ info.dateFull }}">{{ info.dateMonth }} {{ info.dateDay }}, {{ info.dateYear }}</time></p>
                <strong>&bull;</strong>
                <p>{{ info.time }}pm</p>
                <strong>&bull;</strong>
                <p>{{ info.location }}</p>
              </div>
            {% endfor %}
          </div>
          <div class="flex items-center space-x-8 lg:(grow basis-0 justify-end)">
            {% for soc in site.social %}
              <a href="{{ soc.url }}" class="text-gray-400 flex motion-safe:(transition) hover:(text-gray-500)"><i class="m-auto fa-brands fa-fw fa-lg fa-{{ soc.ico }}" title="{{ soc.title }}"></i></a>
            {% endfor %}
            {{ btn.btn('School spirit') }}
          </div>
        </div>
      </header>
      <main class="w-full h-full flex-1">
        {{ content | safe }}
      </main>
      <footer class="mt-auto w-full flex-none">
        <div class="h-40 bg-gradient-to-t from-white"></div>
        <div class="py-4 px-4 bg-white">
          <div class="-mx-4 py-20 px-4 max-w-7xl bg(pri-300 gradient-to-r) from-pri-100 relative overflow-hidden sm:(px-6) md:(mx-auto rounded-3xl px-16) xl:(px-24 py-36)">
            <div class="mx-auto max-w-2xl grid(& grid-cols-1) gap-x-32 gap-y-14 relative xl:(max-w-none grid-cols-2)">
              <div class="text-pri-700 space-y-4">
                <strong class="text(4xl pri-900) tracking-tighter font-medium block sm:(text-5xl)">Stay up to date <small class="text-base tracking-normal inline-flex opacity-50">... coming soon</small></strong>
                <p class="text-lg tracking-tight">Get updates on all of our events and be the first to get notified when things start to pop off... like when Elliot learns a new chord.</p>
              </div>
              <form class="flex items-center opacity-50">
                <div class="py-2.5 pr-2.5 w-full flex bg-white relative rounded-xl shadow-xl motion-safe:(transition) focus-within:(ring(2 pri-900)">
                  <label for="form-newsletter-signup" class="sr-only">Email</label>
                  <input type="email" id="form-newsletter-signup" placeholder="Email (coming soon...)" class="-my-2.5 flex-auto bg-transparent pl-6 pr-2.5 focus:outline-none" required disabled />
                  <button class="inline-flex justify-center rounded-xl bg-pri-600 p-4 text-white font-semibold motion-safe:(transition) focus:(outline-none) disabled:(pointer-events-none)" type="submit" disabled>Sign up</button>
                </div>
              </form>
            </div>
            <div class="w-1/2 bg(left no-repeat) absolute inset-y-0 right-0 opacity-30 filter blur-md" style="background-image: url('/_assets/img/bg-hornet.png')"></div>
          </div>
          <div class="mx-auto py-12 px-4 max-w-7xl text-center md:(flex items-center justify-between)">
            <a href="/" class="group inline-flex transform motion-safe:(transition) hover:(-rotate-3) lg:(grow basis-0)">
              {{ logo.logo(
                'm-auto w-auto h-10 text-sec-500 motion-safe:(transition) group-hover:(text-sec-400) lg:(h-16)',
                'text-pri-400 motion-safe:(transition) group-hover:(text-pri-600)',
                ''
              ) }}
            </a>
            <div class="text-gray-500 md:(text-right)">
              &copy;<script>document.write(new Date().getFullYear())</script> &bull; Designed + maintained by<br />
              <a href="https://{{ site.meta.author_url }}/" class="group mx-1 text-sec-600 inline-flex flex-col motion-safe:(transition) hover:(text-sec-900)">
                {{ site.meta.author }}
                <b class="h-px w-full flex"><b class="w-0 bg-current motion-safe:(transition-all) group-hover:(w-full)"></b></b>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="/_assets/js/alpine.js?v={% version %}"></script>
    <script src="/_assets/js/twind.js?v={% version %}"></script>
    <script src="https://kit.fontawesome.com/a2bf4ed495.js"></script>
    <script>
      twind.setup({
        mode: "silent",
        theme: {
          extend: {
            colors: {
              pri: twindColors.green,
              sec: twindColors.yellow,
            },
            fontFamily: (theme) => ({
              serif: 'Roboto Slab,' + theme('fontFamily.serif'),
            }),
          },
        },
        plugins: {
          ...twindTypography(),
          'scroll-smooth': { 'scroll-behavior': 'smooth' },
        },
      })
      twind.tw(() => ({
        '@global': {
          '.prose h1,.prose h2,.prose h3': { '@apply': 'font-black' },
          '.prose h4,.prose h5,.prose h6': { '@apply': 'font-bold' },
          '.prose blockquote': { '@apply': 'border-l-4 font-semibold italic' },
          '.prose ul': { '@apply': 'ml-4 list-disc' },
          '.prose ol': { '@apply': 'ml-4 list-decimal' },
          '.prose ul > li,.prose ol > li': { 'padding-left': '.25rem !important' },
          '.prose ul > li::marker,.prose ol > li::marker': { '@apply': 'text-pri-900 text-opacity-50' },
          '.prose table': { '@apply': 'w-full' },
          '.prose table th': { '@apply': 'text-left' },
          '.prose code': { '@apply': 'font-bold' },
          '.prose pre': { '@apply': 'bg-gray-800 text-gray-100 overflow-x-auto' },
          '[x-cloak]': { '@apply': 'hidden', },
        }
      }))
      twindObserve.observe(document.documentElement);
      document.documentElement.removeAttribute('hidden');
    </script>

  </body>

</html>