---
title: 'School Spirit'
layout: 'layouts/default.njk'
---

{% import 'components/h2.njk' as h2 %}
{% import 'components/btn.njk' as btn %}
{% import 'components/div.njk' as div %}

<section>
  <div class="text-white">{{ div.x() }}</div>
  <article class="px-4 bg-white">
    <div class="mx-auto max-w-7xl">
      <div class="mx-auto py-12 max-w-2xl lg:(mx-0)">
        {{ h2.x("School Spirit") }}
        <p class="text-2xl leading-normal">Help support the people that organize the reunions and the dude that built this site with his bare hands. ALL of the profits goes to expenses from the reunion!</p>
      </div>
      <iframe
      src="https://www.paypal.com/giving/campaigns?campaign_id=PRVD8RKMP76L8"
      title="PayPal donate campaign card"
      frameborder="0"
      width="300"
      height="420"
      scrolling="no"
      class="mx-auto"
    ></iframe>
      <hr class="my-12" />
      <div class="mx-auto py-12 max-w-2xl lg:(mx-0)">
        <p class="pb-8 text-xl leading-normal">Pick up some cool merch made with our custom reunion logo. Again, all profits goes to current and future reunion expenses.</p>
      </div>
      <div class="flex(& wrap)">
        {% for item in merch.items %}
          <a href="{{ item.url }}" class="mx-auto w-1/3">
            <figure class="p-4">
              <img src="/_assets/img/spirit/{{ item.img }}" alt="{{ item.title }} merch item" class="rounded-lg" />
              <figcaption class="pt-1 text-center">{{ item.title }}</figcaption>
            </figure>
          </a>
        {% endfor %}
        <div class="pt-10 w-full text-center">
          {{ btn.x('More...', url='https://teepublic.com/user/qrayg', outline=true) }}
        </div>
      </div>
    </div>
  </article>
</section>