---
layout: 'layouts/default.njk'
---

{%- import 'components/h2.njk' as h2 %}
{%- import 'components/mast-details.njk' as mastDetails %}
{%- import 'components/student.njk' as student %}
{%- import 'components/deet-list.njk' as deetList %}
{%- import 'components/btn.njk' as btn %}
{%- import 'components/div.njk' as div %}

<section class="mx-auto px-4 max-w-2xl lg:(max-w-4xl px-12)">
  <h1 class="py-12 bg-gradient-to-r from-pri-400 to-sec-400 text-(5xl transparent) font-black bg-clip-text tracking-tight sm:(text-7xl)">
    {{ home.mast.heading }}
  </h1>
  <div class="pb-6 space-y-6 text-(lg pri-500) lg:(text-2xl leading-normal)">
    <p>{{ home.mast.lead }}</p>
    <p>{{ home.mast.content }}</p>
  </div>
  {% for info in site.reunion.slice(0, 1) %}
    <dl class="pt-6 pb-24 text-pri-400 grid-(& cols-2) gap-y-6 gap-x-10 sm:(gap-y-10 gap-x-16 text-center) lg:(auto-cols-auto grid-flow-col grid-cols-none justify-start text-left)">
      {{ mastDetails.x(label='Attended', value=info.attending) }}
      {{ mastDetails.x(label='Date', value=info.date) }}
      {{ mastDetails.x(label='Venue', value=info.venue) }}
      {{ mastDetails.x(label='Location', value=info.location) }}
    </dl>
  {% endfor %}
</section>
<section>
  <div>{{ div.x(dir='t') }}</div>
  <article class="px-4 bg-white">
    <div class="mx-auto max-w-7xl">
      <div class="mx-auto py-12 max-w-2xl lg:(mx-0)">
        {{ h2.x(home.classmates.heading) }}
        <p class="text-2xl leading-normal">
          {{ home.classmates.lead }}
        </p>
      </div>
      <div class="pt-8 grid-(& cols-1) items-start gap-y-8 gap-x-8 sm:(gap-y-16) lg:(pt-16 grid-cols-4)" x-data="{{ home.classmatesNav | dump }}">
        <div class="w-full flex">
          <ul class="w-full flex-(& row) justify-center lg:(pr-8 flex-col justify-start)" role="tablist">
            <template x-for="(tab, index) in eraTabs">
              <li>
                <a href="#" class="group flex-(& col) motion-safe:(transition) hover:(text-pri-600) lg:(flex-row flex-row-reverse)" :class="{ 'active text-sec-600': eraTabActive === index }" @click.prevent="eraTabActive = index">
                  <div class="timeline-ui pb-4 flex-(& row) items-center lg:(pb-0 flex-col)" aria-hidden="true">
                    <div class="w-[9px] h-[9px] flex-none rounded-full relative z-10 motion-safe:(transition) lg:(mt-1)" :class="eraTabActive === index ? 'bg-current ring-2 ring-white transform scale-150' : 'ring-1 ring-current'"></div>
                    <div class="w-full h-px bg-gray-700 flex opacity-20 lg:(w-px h-full)">
                      <template x-if="index === (eraTabs.length - 1)">
                        <div class="w-full bg-gradient-to-l from-white lg:(bg-gradient-to-t)"></div>
                      </template>
                    </div>
                  </div>
                  <div class="timeline pr-6 sm:(pr-12) lg:(pb-12 pr-16 pl-0 text-right)">
                    <small class="leading-none text-xs block opacity-60 sm:(text-sm leading-none)" x-text="tab.era"></small>
                    <strong class="py-2 text-xl font-(black serif) block md:(text-3xl)" x-text="tab.year"></strong>
                  </div>
                </a>
              </li>
            </template>
          </ul>
        </div>
        <div class="lg:(col-span-3)">
          <ul class="grid-(& cols-2) gap-x-8 gap-y-10 sm:(gap-y-16) md:(grid-cols-3)">
            {%- for person in collections.students %}
              {%- if person.data.allowed %}
                <li class="w-full">
                  {{ student.x(info=person) }}
                </li>
              {%- endif %}
            {%- endfor %}
          </ul>
          <p class="py-12 text-center">{{ btn.x(home.classmates.action, url='/yearbook/', outline=true) }}</p>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="bg-pri-300 relative">
  <div>{{ div.x(dir='b') }}</div>
  <div class="mx-auto py-8 px-4 max-w-7xl relative lg:(py-32)">
    <div class="mx-auto pb-12 max-w-2xl lg:(mx-0 max-w-4xl pr-24)">
      {{ h2.x(home.details.heading) }}
      <p class="text(2xl)">{{ home.details.lead }}</p>
    </div>
    <ul class="mx-auto max-w-md bg-white grid-(& cols-1) divide-(y gray-500 opacity-20) overflow-hidden rounded-3xl shadow lg:(grid-cols-3 divide-x divide-y-0 max-w-none)">
      {%- for detail in home.details.details %}
        {{ deetList.x(
          detail.label,
          detail.info,
          detail.sub,
          url=detail.url,
          ico=detail.ico,
          idx=loop
        ) }}
      {%- endfor %}
    </ul>
  </div>
  <div>{{ div.x(dir='t') }}</div>
</section>