---
title: 'School Store'
layout: 'layouts/default.njk'
---

{%- from 'components/heading.njk' import heading -%}
{%- from 'components/btn.njk' import btn -%}
{%- from 'components/divider.njk' import divider -%}

<section>
  <div>{{ divider() }}</div>
  <article class="mx-auto py-8 px-4 bg-white relative lg:(py-24)">
    <div class="mx-auto max-w-7xl">
      <div class="mx-auto pb-12 max-w-2xl lg:(mx-0 max-w-4xl pr-24)">
        {%- call heading({}) %}
          {{ spirit.merch.heading }}
        {%- endcall %}
        <p class="text(2xl)">{{ spirit.merch.lead }}</p>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3">
        {%- for item in spirit.merch.items %}
          <div class="group mx-auto py-8 px-4 relative [&:has(:hover,:focus-visible)]:([&>a]:(bg-pri-900 text-pri-100 -translate-y-3) [&>img]:(rotate-3)) [&:has(:focus-visible)>img]:outline-(& 2 current offset-2)">
            <img src="{{ '/' | url }}_assets/img/spirit/{{ item.img }}" alt="{{ item.title }} merch item" class="border-(& black/20) w-full object-cover shadow-xl rounded-3xl motion-safe:transition md:(h-72)" />
            <a href="{{ item.url }}" class="mx-4 py-1 px-2 bg-pri-800 text-pri-400 text-(xs center) block truncate outline-(& 2 dashed sec-500 offset-2) -translate-y-4 rounded-lg after:(content-[''] absolute inset-0) motion-safe:transition md:(text-base)">{{ item.title }}</a>
          </div>
        {%- endfor %}
        <div class="pt-10 w-full text-center col-span-2 md:col-span-3">
          {{ btn('More...', url='https://teepublic.com/user/qrayg', outline=true) }}
        </div>
      </div>
    </div>
  </article>
</section>

<section class="bg-pri-300 relative">
  <div>{{ divider({dir:'b'}) }}</div>
  <article class="mx-auto py-8 px-4 max-w-7xl relative lg:(py-24)">
    <div class="relative lg:(flex items-center)">
      <div class="hidden text-pri-500 opacity-20 lg:(block absolute top-1/2 left-1/2 transform -translate-y-1/2)"><iconify-icon icon="fa6-solid:arrow-right-from-bracket" inline="false" class="text-[10rem]" noobserver></iconify-icon></div>
      <div class="mx-auto py-12 max-w-2xl relative lg:(mx-0)">
        {%- call heading({}) %}
          {{ spirit.donate.heading }}
        {%- endcall %}
        <p class="text-2xl leading-normal">{{ spirit.donate.lead }}</p>
      </div>
      <iframe
        src="https://www.paypal.com/giving/campaigns?campaign_id=PRVD8RKMP76L8"
        title="PayPal donate campaign card"
        frameborder="0"
        width="300"
        height="425"
        scrolling="no"
        class="mx-auto relative"
      ></iframe>
    </div>
  </article>
  <div class="section-div text-white">{{ divider({dir:'t'}) }}</div>
</section>
