---
title: '404 - Preble Class of 1992: 30th Reunion'
layout: 'layouts/default.njk'
---

<a href="/" class="my-8 mx-auto px-4 text-pri-700 text(4xl center) leading-relaxed font-black block lg:(my-16 text-[calc(2vw+2vh)])">
  Oops <i class="mx-1 font-thin inline-block opacity-20">/</i> 404
  <small class="text-lg font-normal block opacity-70 lg:(text-2xl)">Adam, is that you? So sassy!</small>
</a>