---
layout: 'layouts/default.njk'
---

{%- import 'components/heading.njk' as heading -%}
{{ heading.heading('30<sup class="text-base normal-case">th</sup> Reunion Details') }}

{%- import 'components/deet-list.njk' as deetList -%}
<ul>
  {% for deet in collections.deet -%}
    {{ deetList.deet(
      deet.data.label,
      deet.data.info,
      deet.data.sub,
      url=deet.data.url,
      ico=deet.data.ico,
      idx=loop
    ) }}
  {%- endfor %}
</ul>